<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>New questions</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen'
         href='/css/questions_list.css'>
</head>
<body>
    
    {% for question in page_questions %}
        <div id='question' class='boxed'>
            <a>{{ question.title }}</a>
            <hr>
            <p class='tabulated'>{{ question.text }}
            <hr>
            <a>{{ question.added_at }}</a>
            <a class='to_right'>{{ question.author}}</a>

        </div>
    {% endfor %}

</body>
</html>