[Unit]
Description=gunicorn daemon for django app
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/box/web/ask
ExecStart=gunicorn -c /home/box/web/etc/gunicorn_config_django.py ask.wsgi
Restart=on-failure

[Install]
WantedBy=multi-user.target
