[Unit]
Description=gunicorn daemon for hello app
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=dbms_template_path/web/
ExecStart=gunicorn -c dbms_template_path/web/etc/gunicorn_config.py hello:app
Restart=on-failure

[Install]
WantedBy=multi-user.target