[Unit]
Description=gunicorn daemon for hello app
After=network.target

[Service]
User=box
Group=www-data
WorkingDirectory=/home/box/web/
ExecStart=gunicorn -c /home/box/web/etc/gunicorn_config_hello.py hello:app
Restart=on-failure

[Install]
WantedBy=multi-user.target

